@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./assets/background.png") no-repeat center;
  background-size: cover;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}
.card {
  width: 29rem;
  background: #fff;
  margin: 0 auto;
  padding: 2rem;
  position: relative;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 30rem) {
    width: 100%;
  }
  .start_img {
    width: 162px;
    position: absolute;
    right: 0;
    top: -4.5rem;
  }
  .winner_img {
    width: 238px;
    align-self: center;
    margin-bottom: 2.5rem;
  }
}
.title {
  position: absolute;
  color: #fff;
  text-transform: uppercase;
  font-size: 2.2rem;
  top: -4rem;
  left: 0;
}

.question {
  color: #2f527b;
  font-size: 1.5rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  .flag {
    width: 8.25rem;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 1rem;
  }
}
.options {
  display: flex;
  flex-direction: column;
  button {
    min-height: 3.5rem;
    text-align: left;
    padding: 0 1rem;
    border: 2px solid rgba(96, 102, 208, 0.7);
    border-radius: 0.8rem;
    cursor: pointer;
    background: #fff;
    font-size: 1.125rem;
    color: rgba(96, 102, 208, 1);
    margin-top: 1.5rem;
    &.correct {
      background: #60bf88;
      border-color: #60bf88;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:after {
        content: "check_circle_outline";
        font-family: "Material Icons";
        font-weight: normal;
        font-style: normal;
        font-size: 24px; /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      }
      &:disabled {
        &:hover {
          border: 2px solid #60bf88;
          background: #60bf88;
          color: #fff;
        }
      }
    }
    &.wrong {
      background: #ea8282;
      border-color: #ea8282;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:after {
        content: "highlight_off";
        font-family: "Material Icons";
        font-weight: normal;
        font-style: normal;
        font-size: 24px; /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      }
      &:disabled {
        &:hover {
          border: 2px solid #ea8282;
          background: #ea8282;
          color: #fff;
        }
      }
    }
    &:hover {
      background: #f9a826;
      border-color: #f9a826;
      color: #fff;
    }
    &:disabled {
      &:hover {
        border: 2px solid rgba(96, 102, 208, 0.7);
        background: #fff;
        color: rgba(96, 102, 208, 1);
      }
    }
  }
}
.nextBtn {
  min-height: 3.5rem;
  text-align: left;
  padding: 0 2.5rem;
  border: 2px solid #f9a826;
  border-radius: 0.8rem;
  cursor: pointer;
  background: #f9a826;
  font-size: 1.125rem;
  color: #fff;
  margin-top: 1.5rem;
  align-self: flex-end;
}
.result_title {
  color: #1d355d;
  font-size: 3rem;
  align-self: center;
}
.scorepara {
  color: #2f527b;
  align-self: center;
  span {
    color: #60bf88;
    font-size: 2.2rem;
    font-weight: 700;
  }
}
.trybtn {
  min-height: 3.5rem;
  text-align: left;
  padding: 0 2.5rem;
  border: 2px solid #1d355d;
  border-radius: 0.8rem;
  cursor: pointer;
  background: #fff;
  font-size: 1.125rem;
  color: #1d355d;
  margin-top: 2.5rem;
  align-self: center;
}
footer {
  padding: 1rem 0;
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
}
